/* style so footer will stick to the bottom */

html {
  position: relative;
  min-height: 100vh;
}

/* style body element by adding background image and set to cover */
body {
  font-family: 'Arvo', serif;
  background: url(images/IMG_5037_smaller.png) no-repeat center center black;
  background-attachment: fixed;
  background-size: cover;
}

/* style a brand image */
.logo {
  height: 30px;
  margin-top: 3%;
}

/* style nav bar using css (hover state too) */
.navbar-inverse {
  background-color: rgba(0,0,0,0.8);
}

.nav li{
  color: #fff;
  font-size: 17px;
  padding: 10px 0;
  margin-right: 35px;
}

.nav li:hover {
  border-bottom: 1px solid #F4911E;
  /* prevent navbar from growing by one px when hovering */
  padding-bottom: 9px;
  cursor: pointer;
}

/* move entire page down so it's not behind the navbar */
#pageContent {
  margin-top: 6.5vh;
}

#pageContent p {
  margin-top: 4vh;
}
/* title in a jumbotron (text-align) */
.jumbotron {
  color: #FFF;
  background-color: rgba(0,0,0,0);
  text-align: center;
  margin: 0;
  padding: 0.5em;
}

.jumbotron h1 {
  letter-spacing: 2.5px;
}

.row {
  margin-top: 5%;
}
.profilePic {
  height: 300px;
}
/* social media buttons */
#socialMedia {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

#socialMedia p {
    font-size: 22px;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
}

.fa {
    font-size: 50px;
    height: 80px;
    width: 80px;
}

.btn-fb {
  color: #4267B2;
}
/* style footer */
.footer {
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.7);
  text-align: left;
  font-size: 1em;
  /* so that footer will stay on bottom of screen */
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0.8em 0 0.8em 1em;
  width: 100%;
  height: 4vh;
}
.footer p {
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 550px) {
  .footer {
    display: none;
  }
}

/* move input form down */
#signupForm {
  margin-top: 5%;
  color: #FFF;
}

#signupForm .btn {
  margin-top: 2%;
}
